.form-group {
  padding: 0.5rem 0.2rem;
}

.search__input {
  border: 1px solid lightgray;
  height: 50px;
  padding: 10px 20px;
  border-radius: 999px;
  margin: 0 auto;
  max-width: 540px;
}

.search__input > input {
  flex: 1;
  padding: 10px 20px;
  font-size: medium;
  border: none;
}

.search__input:focus {
  border-color: lightgray;
  box-shadow: none;
}

.card {
  border-radius: 25px;
}

.btn {
  border-radius: 25px;
}
